.calendar {
	display: none;
	flex-direction: column;
	width: 200px;
	background-color: white;
	box-shadow: 0 0 3px black;
	padding: 10px;
	position: absolute;
	left: 75%;
	z-index: 3;
}
#calendar-top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5px;
}
.calendar-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.calendar-day {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	text-decoration: none;
	color:black;
}
.calendar-day-empty {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	text-decoration: none;
	color:black;
}
.calendar-weekday {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}
.calendar-day:hover {
	background-color: #777777;
	text-decoration: none;
	color: white;
}