#day {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
#day-text {
	padding: 10px;
	border-radius: 15px;
}
#running-header {
	font-style: italic;
}
#nav-front {
    justify-content: flex-start;
}
#nav-mid {
    justify-content: center;
}
#nav-back {
    justify-content: flex-end;
}
#search {
    margin-left: 10px;
}
.flexbox-item-nav-front {
    margin-right: 10px;
}
#nav-header {
    color: black;
    position: relative;
    top: -2px;
    font-size: 24pt;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1.5px black;
    display: flex;
    justify-content: center;
}
#nav-header:hover {
    text-decoration: none;
    color: #BADFC1;
}
.nav-button {
    font-weight: bold;
    font-size: 16pt;
    color: rgb(236, 184, 70);
    text-decoration: none;
}
.nav-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon {
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    margin-top: 2px;
}
.nav-button:hover {
    text-shadow: 0 0 3px rgb(109, 247, 229);
    color: #BADFC1;
    text-decoration: none;
}
.nav-btn {
    color: black;
    text-shadow: 0.5px 0.5px 1.5px black;
    border: 0px solid #AAD4FF;
}
.nav-btn:hover {
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
    color: #BADFC1;
}
#nav-calendar {
	height: 30px;
    width: 35px;
    border-radius: 15%;
    margin-top: 2.5px;
    border: 2px solid #444830;
}
#search {
	    height: 40px;
    border: 2px solid #AAD4FF;
    border-radius: 5px;
}