<head>
	<title></title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body {
	background-color:#fcffe9;
	/*background-color:#fff2cc;*/
	font-family: "Arial", sans-serif;
}
.title {
	color: #BADFC1;
	font-weight: bold;
	text-shadow: .45px .45px black;
}
.clock {
	height: 45px;
	width: 45px;
}
.time {
	color: #AAD4FF;
	text-shadow: .3px .3px black;
}
.materials {
	color: #FDD0E9;
	text-shadow: .25px .25px black;
}
.directions p {
	color: #AAD4FF;
	text-shadow: .25px .25px black;
}
.ingredients li {
	text-shadow: .25px .25px black;
	color: #AAD4FF;
}
.recipe2 {
	padding-top: 25px;
}
ul {
list-style-image: url('fork.png');
}
</style>

</head>

<body>

<div class="container-fluid">

<div class="row">
	<div class="col-sm-7 offset-sm-4">
		<h1 class="title" id="firstTitle"></h1>
	</div>
</div>
<div class="row" style="padding-top: 10px;">
	<div class="col-sm-7 offset-sm-4">
		<span class="time" id="preptime"></span> <img class="clock" src="clock.png"> <span id="cooktime" class="time"></span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 offset-sm-3">
		<p class="materials">Materials: </p>
	</div>
</div>

<div class="row">
	<div class="col-sm-7 offset-sm-1">
		<div class="directions">
			<h4 class="title">Directions:</h4>
			<p></p>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="ingredients">
			<h4 class="title">Ingridients:</h4>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>


<div class="recipe2">
<div class="row">
	<div class="col-sm-7 offset-sm-4">
		<h1 class="title" id="firstTitle"></h1>
	</div>
</div>
<div class="row" style="padding-top: 10px;">
	<div class="col-sm-7 offset-sm-4">
		<span class="time" id="preptime"></span> <img class="clock" src="clock.png"> <span id="cooktime" class="time"></span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 offset-sm-3">
		<p class="materials">Materials: </p>
	</div>
</div>
<div class="row">
	<div class="col-sm-7 offset-sm-1">
		<div class="directions">
			<h4 class="title">Directions:</h4>
			<p></p>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="ingredients">
			<h4 class="title">Ingridients:</h4>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>

</div>


</div>
</body>