/* Style sheet for daily dinners menu */
body {
	background-color:#fcfcf5;
	font-family: "Arial", sans-serif;
}
.upper-content {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #e1faf7;
	border-radius: 15px;
	box-shadow: 0 0 3px black;
}
.recipe-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	color: #7b9e88;
	font-weight: bold;
	text-shadow: .45px .45px black;
}
.green-title {
	text-shadow: .3px .3px 0.5px black;
	color: #7b9e88;
	font-size: 18;
}
.time-container {
	display: flex;
	flex-direction: row;
	flex: 0.5;
	justify-content: space-between;
}
#date {
	position: absolute;
	left: 20px;
	top: 10px;
	font-style: italic;
}
#recipe1 {
	top: 15px;
	position: absolute;
	width: 950px;
	border-right: 6px solid black;
}
#recipe1head {
	position: relative;
	top: 5px;
	left: 30px;
}
#recipe2 {
	top: 15px;
	width: 200px;
	position: absolute;
	left: 975px;
}
#recipe2head {
	position: relative;
	top: 5px;
	left: 10px;
}
.serving {
	border-radius: 75%;
	background-color: #eafffd;
/*	background-color: #CEFFFD;*/
	color: #444444;
	border: 1.4px solid black;
	padding: 10px;
	padding: 14px;
}
#serving1 {
	position: relative;
	top: -95px;
	z-index:111;
	left: 510px;
}
#time1 {
	position: relative;
	left: 620px;
	top: -60px;
}
.equip{
position: relative;
max-width: 850px;
background-color: #efefef;
color: #2f2f2f;
border: 1.4px solid black;
padding: 3px;
}
#equip1{
top: -70px;
left: 55px;
}
#equip2 {
top: 55px;
left: 5px;
width: 185px;
}

#recipe2text {
	position: relative;
	left: 5px;
	top: 40px;
}
#serving2 {
	position: relative;
	top: -40px;
	left: 5px;
}
#time2 {
	position: relative;
	left: 5px;
	top: 60px;
	width: 195px;
}
ul {
list-style-image: url('fork.png');
}
.ingridient {
}
.ingridients1 {
	position: relative;
	top: -60px;
	width: 345px;
}
.ingridients12 {
position: relative;
top: -230px;
left: 375px;
width: 375px;
}
.ingridients2 {
	position: relative;
	top: 50px;
	left: -15px;
}
#ingrid1head {
	position: relative;
	top:-70px;
	left:50px;
	color:#704C39;

}
#ingrid2head {
	position: relative;
	top:50px;
	color:#704C39;
}
#instruction1 {
	position: relative;
	top: -220px;
	left: 10px;
	color:#704C39;
}
#instruction2 {
	position: relative;
	top: 40px;
	left:0px;
	color:#704C39;
}
.text {
	position: relative;
	top: -220px;
}
.description {
	padding:10px;
	font-size: 22pt;
	font-style: italic;
	position: absolute;
	z-index: 3;
	top:-25px;
	/*top:455px;
	background:#7e7e7e;
#F82A94
*/
	left: 220px;
	width: 800px;
	color: #f2fffe;
	text-shadow: 1.1px 1.1px black;
	font-weight: bold;

}
#plate {
	width: 1253px;
}