.title {
	color: #BADFC1;
	font-weight: bold;
	text-shadow: .45px .45px black;
	}
	.clock {
	height: 45px;
	width: 45px;
	}
	.time {
/*	color: #AAD4FF;
	text-shadow: .3px .3px black;*/
	}
	.materials {
/*	color: #FDD0E9;
*/	text-shadow: .25px .25px black;
	color: #BADFC1;
	}
	.directions p {
	color: #AAD4FF;
	text-shadow: .25px .25px black;
	}
	.ingredients li {
	text-shadow: .25px .25px black;
	color: #AAD4FF;
	}
	.recipe2 {
	padding-top: 25px;
	}
	ul {
	list-style-image: url('fork.png');
	}
	.content-wrapper {
		display: flex;
		flex-direction: column;
	}
	.content-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.time-container {
		display: flex;
		flex-direction: row;
		flex: 0.40;
		justify-content: space-between;
	}
	.time-title {
		color: #779fee;
	}
	.directions-title {
		font-size: 24;
	}
	.ingredients-container {
		flex: 0.25;
		max-width: 300px;
		float:left;
	}
	.ingredients-list {
		background-color: white;
		padding: 5px;
		padding-left: 25px;
		box-shadow: 0 0 4px black;
		margin-right: 15px;
	}
	.ingredients-list > li {
		margin-bottom: 10px;
	}
	.ingredients-title {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.empty-container {
		flex: 0.05;
	}
	.directions-container {
		flex: 0.8;
	}
	.directions-title {
				color: #8cc5ff;
		text-shadow: .25px .25px 0.5px black;
	}
	.combo-container {
		flex: 0.9;
	}
	.green-title {
		text-shadow: .3px .3px 0.5px black;
	color: #BADFC1;
	font-size: 18;
	}