<!DOCTYPE html>
<html lang= "en">

<head>
	<meta charset="UTF-8">
	<title>Daily Dinners - FAQ</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>

<body>
<div id="nav">
	<div class="nav-container" id="nav-front">
		<i class="fa fa-home"></i>
		<a class="flexbox-item-nav-front nav-gender nav-btn" id="nav-womens" href="/faq">FAQ</a>
		<a class="flexbox-item-nav-front nav-gender nav-btn" id="nav-mens" href="/techniques">Techniques</a>
	</div>
	<div class="nav-container" id="nav-mid">
		<a class="nav-btn" id="nav-header" href="/">Daily Dinners</a>
	</div>
	<div class="nav-container" id="nav-back">
		<div class="flex-item-nav-back">
			<a id="calendar-link" href="#">
				<img id="nav-calendar" src="./calendar.png" alt="Shopping Cart">
			</a>
		</div>
		<input id="search" placeholder="Search Recipes..." type="text">
	</div>
</div>
<div id="calendar-month-1" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 1</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a href="/meal/1" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
	</div>
</div>
<div id="calendar-month-2" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 2</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a href="#" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
	</div>
</div>
<div id="calendar-month-3" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 3</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a href="/meal/1" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
	</div>
</div>
  <h2>FAQ!</h2>
</body>
	<script type=text/javascript src="{{url_for('static', filename='js/calendar.js') }}"></script>
</html>
