<html><head>
	<title>Meal</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/web_recipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="nav">
	<div class="nav-container" id="nav-front">
		<i class="fa fa-home"></i>
		<a class="flexbox-item-nav-front nav-gender nav-btn" id="nav-womens" href="/faq">FAQ</a>
		<a class="flexbox-item-nav-front nav-gender nav-btn" id="nav-mens" href="/techniques">Techniques</a>
	</div>
	<div class="nav-container" id="nav-mid">
		<a class="nav-btn" id="nav-header" href="/">Daily Dinners</a>
	</div>
	<div class="nav-container" id="nav-back">
		<div class="flex-item-nav-back">
			<span id="cart-text"></span>
			<a id="calendar-link" href="#">
				<img id="nav-calendar" src="./calendar.png" alt="Shopping Cart">
			</a>
		</div>
		<input id="search" placeholder="Search Recipes..." type="text">
	</div>
</div>

<div id="calendar-month-1" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 1</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a href="/meal/1" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
	</div>
</div>

<div id="calendar-month-2" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 2</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a href="#" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
	</div>
</div>

<div id="calendar-month-3" class="calendar">
	<div id="calendar-top">
		<span><i class="fa fa-arrow-left"></i></span>
		<span>Month 3</span>
		<span><i class="fa fa-arrow-right"></i></span>
	</div>
	<div class="calendar-row">
		<span class="calendar-weekday">S</span>
		<span class="calendar-weekday">M</span>
		<span class="calendar-weekday">Tu</span>
		<span class="calendar-weekday">W</span>
		<span class="calendar-weekday">Th</span>
		<span class="calendar-weekday">F</span>
		<span class="calendar-weekday">S</span>
	</div>
	<div class="calendar-row">
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a class="calendar-day-empty"></a>
		<a href="/meal/1" class="calendar-day">1</a>
		<a href="#" class="calendar-day">2</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">3</a>
		<a href="#" class="calendar-day">4</a>
		<a href="#" class="calendar-day">5</a>
		<a href="#" class="calendar-day">6</a>
		<a href="#" class="calendar-day">7</a>
		<a href="#" class="calendar-day">8</a>
		<a href="#" class="calendar-day">9</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">10</a>
		<a href="#" class="calendar-day">11</a>
		<a href="#" class="calendar-day">12</a>
		<a href="#" class="calendar-day">13</a>
		<a href="#" class="calendar-day">14</a>
		<a href="#" class="calendar-day">15</a>
		<a href="#" class="calendar-day">16</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">17</a>
		<a href="#" class="calendar-day">18</a>
		<a href="#" class="calendar-day">19</a>
		<a href="#" class="calendar-day">20</a>
		<a href="#" class="calendar-day">21</a>
		<a href="#" class="calendar-day">22</a>
		<a href="#" class="calendar-day">23</a>
	</div>
	<div class="calendar-row">
		<a href="#" class="calendar-day">24</a>
		<a href="#" class="calendar-day">25</a>
		<a href="#" class="calendar-day">26</a>
		<a href="#" class="calendar-day">27</a>
		<a href="#" class="calendar-day">28</a>
		<a href="#" class="calendar-day">29</a>
		<a href="#" class="calendar-day">30</a>
	</div>
</div>

<div class="content-wrapper">
	<div class="recipe-container">	
	<div class="content-row header-container">
		<h1 class="title">{{meal.title}}!!</h1>
	</div>
	<div class="content-row">
		<div class="time-container">
			<span class="time" id="preptime"><b class="time-title">Prep Time:</b>  5 Minutes.</span>
			<img class="clock" src="clock.png"> 
			<span id="cooktime" class="time"><b class="time-title">Cook Time:</b> 45 Minutes to 1 Hour</span>
		</div>
	</div>
	<div class="content-row">
		<p><span class="materials green-title">Materials:</span> Small Oval Roasting Pan, Measuring Spoons</p>
	</div>
		<div class="content-row">
			<div class="combo-container">
			<div class="ingredients-container">
				<span class="ingredients-title green-title">Ingridients:</span>
				<ul class="ingredients-list">
					<li>1 (2 - 3 pound) turkey breast, bone-in and skin on, thawed</li>
					<li>1 tsp Kosher salt</li>
					<li>Half tsp ground black pepper </li>
					<li>1 tsp Herbs de Provence</li>
					<li>2 Tbsp extra-virgin olive oil</li>
				</ul>
			</div>

			<div class="empty-container"></div>

			<div class="directions-container">
				<p><span class="directions-title">Directions:</span>    Preheat the oven to 375 degrees.  Set rack in the top third of the oven and another rack in the bottom third of the oven.</p>
				<p>Combine the salt, pepper, and Herbs de Provence in a small bowl.  Rub generously over turkey breast, then drizzle the oil over all and rub in to evenly distribute.</p>
				<p>Place turkey breast into a small, oval roasting pan.  Roast for about an hour, until the internal temperature of the breast reaches 165 degrees.  Check on the breast after about 45 minutes to make sure that the skin is not too brown.  If it's browning too much, cover with foil.</p>
				<p>As soon as the turkey is ready for the oven, start making the brown and wild rice for the Stuffed Acorn Squash.</p>
				<p>Make the Stuffed Acorn Squash.</p>
				<p>The turkey breast will need to rest for about 10 minutes before cutting.  The Stuffed Acorn Squash should be completely done by the time the turkey is ready to cut.</p>
				<p></p>
			</div>
		</div>
	</div>

	</div>
</div>
</body>
	<script type=text/javascript src="{{url_for('static', filename='js/calendar.js') }}"></script>
</html>
